body {
    font-family: Arial, sans-serif;
   background-color: #faf5e4;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#search-form {
    display: flex;
    align-items: center;
}  
#search-input {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
}
.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #eebc52;
    background-color: #eebc52;
    color: #fff;
    cursor: pointer;
    border-left: none;
    transition: background-color 0.3s;
}
.search-bar button:hover {
    background-color:#eebc52 ;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(51, 37, 18, 0.7);
    color: white;
    border-bottom: 2px solid #eebc52;
}
h1 {
 
    text-align: center;
    
    color: #523b0a;
    }
    p {
  text-align: center;
    }
.header h1 {
    margin: 0;
    font-size: 24px;
    color: #eebc52;
}
h4 {
    text-align: center;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.nav-links a:hover {
    color: #eebc52;
}
.nav-links input[type="text"] {
    flex: 1;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #eebc52;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border-left: none;
    
}

.main-content {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#map {
    margin: 20px 0;
}

#location-filter {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
    max-width: 100%;
    border-radius: 10px;
}

.hotel-card h3 {
    margin: 10px 0;
}

.hotel-card p {
    margin: 5px 0;
}

.hotel-card .rating {
    color: #ffcc00;
}
.footer {
    background-color: rgba(51, 37, 18, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
   border-top: 2px solid #eebc52;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #eebc52;
}